{%extends 'main.html'%} 
{%block content%}
{%load i18n%}
<div>
    <a href="{%url 'publish_post'%}">{% trans 'publish a new post'%}</a>
</div>
<div>
<h1>{% trans 'Edit published posts'%}</h1>
{%for post in published_user_posts%}
<li>
<a href="{%url 'edit_post' post.id%}">{{post.title}}</a>
</li>
{%endfor%}
</div>
<div>
    <h1>{% trans 'Edit drafts'%}</h1>
    {%for post in drafts%}
    <li>
    <a href="{%url 'edit_post' post.id%}">{{post.title}}</a>
    </li>
    {%endfor%}
    </div>
{%endblock content%}