{%extends 'main.html'%} 
{%block content%}
{%load i18n%}
<form action="/account/register/" method="POST" class="form-horizontal">
    {% csrf_token%}
    <div class="mx-auto" style="width: 400px;">

        <div class="col-xs-8 col-xs-offset-4">
            <h2 style="text-align:center;">{% trans 'SIGN UP'%}</h2>
        </div>
        <hr />
        <div class="form-group">
            <label for="username">{%trans 'Username'%}</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="{% trans 'Enter Username'%}"
                Required>
        </div>
        <div class="form-group">
            <label for="fanme">{% trans 'First Name'%}</label>
            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="{%trans 'Enter First Name'%}"
                Required>
        </div>
        <div class="form-group">
            <label for="lname">{% trans 'Last Name'%}</label>
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="{%trans 'Enter Last Name'%}"
                Required>
        </div>
        <div class="form-group">
            <label for="email">{%trans 'Email address'%}</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="{%trans 'Enter email'%}" Required>
        </div>
        <div class="form-group">
            <label for="password">{%trans 'Password'%}</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="{% trans 'Enter Password'%}"
                Required>
        </div>
        <div class="form-group">
            <label for="confirm_password">{%trans 'Confirm Password'%}</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                placeholder="{%trans 'Confirm Your Password'%}" Required>
        </div>
        <button type="submit" class="btn btn-primary">{%trans 'SIGN UP'%}</button>
        <a class="btn btn-dark" href="{% url 'login_user' %}" role="button">{%trans 'LOGIN'%}</a>
    </div>
</form>
<div class="form-group">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
</div>
{%endblock content%}